html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 20px 20px 20px 20px;
  font-family: Avenir;
}

header {
  padding: 10px 10px 10px 10px;
  background-color: #d7f2f1;
  /*background-image: url(../images/polaroid.png);*/
  background-image: url(../images/boat_e_river_copy.jpg);
  margin-bottom: 15px;
  border: 2px solid #050505;
  /*background-position: top left;
  background-repeat: repeat;*/
}
/*.featured-image {
  background: #d7f2f1 url(../images/polaroid.png) top left repeat;
}*/
h1 {
  text-align: center;
  border-bottom: 1px solid #050505;
  font-size: 65px;
}

.center {
  padding: 20px 20px 20px 20px;
  background-color: #dceded;
  height: 500px;
}

#about {
  width: 400px;
  border: 1px solid #050505;
  display: inline-block;
  float: left;
  margin: 0 15px 0 0;
}

.sessions {
  padding: 20px 20px 20px 20px;
}

#intro {
  padding: 10px 10px 10px 10px;
}

.picture {
  display: inline;
  margin-top: 30px;
}
header h1 {
  margin: 20px 0 10px 0;
  padding-bottom: 15px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
  margin-right: 13px;
}

img:hover {
  border: 3px solid black;
}
